{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="static/css/credits.css">
{% endblock %}

{% block content %}
<div class="header">
    <div class="header-img parallax-img"></div>
</div>
<section class="header-breaker text-center">
    <p class="fs-1 fw-semibold credits-header">Credits</p>
</section>
<section>
    <div class="container">
        <div class="credits-content">
            <p class="fs-6 fw-semibold">Credit to the following individuals for the images used:</p>
            <ul>
                <li>Kamille Panela - Discord (EVE University)</li>
                <li>Nick Eullon - Discord (EVE University)</li>
                <li>Sean Castellanos - Discord (EVE University)</li>
                <li>Razorien - EVE Online Forums <a
                        href="https://forums.eveonline.com/t/high-resolution-eve-wallpapers-in-4k/48858">Original
                        post</a></li>
            </ul>

            This material is used with limited permission of CCP Games. No official affiliation or endorsement by CCP
            Games is stated or implied. EVE Online &copy; and CCP &copy; and all related logos and other elements are trademarks
            of CCP ehf.
        </div>
    </div>
</section>
{% endblock %}

{% block script %}
<script src="static/js/parallax.js"></script>
{% endblock %}